<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00000000" android:required="false" />
    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x00400000" android:required="false" />

    <application
        android:allowBackup="false"
        android:label="Urban Duty"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UrbanDutyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
